In [2]:
import pandas as pd
import numpy as np

# Load in tweets
twnty15 = pd.read_csv('data/elon/2015.csv')
twnty16 = pd.read_csv('data/elon/2016.csv')
twnty17 = pd.read_csv('data/elon/2017.csv')
twnty17 = pd.read_csv('data/elon/2018.csv')
twnt19 = pd.read_csv('data/elon/2019.csv')
twnty20 = pd.read_csv('data/elon/2020.csv')
twnty21 = pd.read_csv('data/elon/2021.csv')

twnty17.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1079469237230493696,1079155749077475328,1.546200e+12,2018-12-30 20:08:16,0,NaN,@Ben757677 @vincent13031925 Thanks Tesla owner...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'vincent13031925', 'name': 'V...",NaN,NaN,NaN,NaN
1,1,1079459047252709377,1079457030060924928,1.546198e+12,2018-12-30 19:27:46,0,NaN,"@Grimezsz Turns out if you take Dayquil, you e...",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Grimezsz', 'name': '☾laire d...",NaN,NaN,NaN,NaN
2,2,1078716366591483904,1078716366591483904,1.546021e+12,2018-12-28 18:16:38,0,NaN,Excited to have Larry Ellison &amp; Kathleen W...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,3,1078529476018008064,1078529330492321793,1.545976e+12,2018-12-28 05:53:59,0,NaN,@NutmegTheRed @Tesla Ok,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Tesla', 'name': 'Tesla', 'id...",NaN,NaN,NaN,NaN
4,4,1078395092090699776,1078383289356902401,1.545944e+12,2018-12-27 21:00:00,0,NaN,@westcoastbill Tesla team did a great job!,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'westcoastbill', 'name': 'bil...",NaN,NaN,NaN,NaN